<div class="panel panel-default " id="user-list"  >
                        <div class="panel-heading panel-green">
                            <div> משתמשים </div>
                            <div class="form-group users">
                            <users-compleate class="ng-isolate-scope" model="advSearch.user" control="golbalObject">
                                <div class="relative species">
                                    <div class="row">
                                        <div class="col-md-10 input-holder">
                                            <input style="" aria-owns="typeahead-41-6238" aria-expanded="false" aria-autocomplete="list" ng-model="innerModel" uib-typeahead="user for users in auto.searchUsers($viewValue)" typeahead-loading="auto.loadingTaxas" typeahead-no-results="noTaxasResults" typeahead-template-url="userAutoComplete.html" typeahead-min-length="2" typeahead-on-select="auto.set($item)" placeholder="" ng-focus="auto.onfocus()" class="form-control ng-valid ng-dirty ng-touched ng-valid-editable" type="text">
                                            <ul template-url="userAutoComplete.html" position="position" query="query" move-in-progress="moveInProgress" select="select(activeIdx)" active="activeIdx" matches="matches" id="typeahead-41-6238" uib-typeahead-popup="" class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block; top: 34px; left: 15px;" role="listbox" aria-hidden="true">
                                            <!-- ngRepeat: match in matches track by $index -->
                                            </ul> 
                                            <i style="" class="fa fa-times pointer clear" ng-click="auto.clear()" ng-show="auto.showClear"></i>
                                        </div>
                                        <div class="col-md-2 nowrap info">
                                            <span style="" class="ng-hide" ng-show="auto.loadingTaxas">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                            <div class="ng-hide" ng-show="noTaxasResults">אין תוצאות</div>
                                                
                                        </div>
                                            
                                    </div>
                                    <script type="text/ng-template" id="userAutoComplete.html">
                                                <div class="media pointer">
                                                <div class="media-left">
                                                <img class="media-object" actual-src="{{match.model.User.icon}}" ng-src='assets/images/person.png' alt="">
                                                </div>
                                               <div class="media-body">
                                               <h5 class="media-heading" ng-if="match.model.User.name" ng-bind-html="match.model.User.name | uibTypeaheadHighlight:query"></h5>
                                               <h5 class="media-heading" ng-bind-html="match.model.User.login | uibTypeaheadHighlight:query">
                                               </h5>
                                               </div>
                                               </div>
                                    </script>
                                </div>
                            </users-compleate>
                            </div>
                        
                        </div>
                        <div class="panel-body" style="height: 55vh; overflow-y:scroll; overflow-x: hidden;">
                            <?php foreach($users as $user): ?>

                            <?php 
                              $userImg = $user['User']['icon'];
                              if(empty($userImg))
                                $userImg = 'assets/images/person.png';

                              $userRole=$user['User']['role'];

                            ?>

                               <div class="media" data-user-id="<?php echo $user['User']['id']; ?>" >
                                    <div class="row" >
                                        <div class="col-md-5">

                                                 <div style="display:block">  <img class="media-object scaled-img" src="<?php echo $userImg;?>"> </div>

                                                <div style="color:blue; font-size:15px; text-align: left; margin-top: 5px;"><?php echo $user['User']['login'];?></div>

                                        </div>

                                        <div class="col-md-7" style="padding-right: 0;">

                                                <div class="panels tac" style="text-align:right">
                                                          <div class="panel panel-default" style="border: 1px solid rgba(73,87,99,.52); width: 45%; display: inline-block;" >
                                                                <div class="panel-up">תצפיות</div>
                                                                <div  class="panel-bottom" ><?php echo $user['0']['sumObs']; ?></div>
                                                           </div>
                                                          <?php 
                                                           if(!empty($userRole))
                                                           {
                                                            if ($userRole=="manager")
                                                                $hebRole="מנהל";
                                                            else if ($userRole=="curator")
                                                                $hebRole="אוצר";
                                                          ?> 
                                                            <div class="panel panel-default" style="border: 1px solid rgba(73,87,99,.52); width: 45%; display: inline-block;" >
                                                                <div class="panel-up">תפקיד</div>
                                                                <div  class="panel-bottom-r" ><?php echo $hebRole; ?></div>
                                                            </div>
                                                            <?php }; ?>
                                                </div>

                                       </div>  
                                   </div>
                                </div>

                            <?php endforeach; ?>
                        </div>
                       <div class="panel-footer reshape"></div>
                    
                     <!--      
                            <div class="panel panel-default">
                                <div class="panel-heading">זיהויים</div>
                                <div class="panel-body ng-binding">1,405</div>
                            </div> 
                    -->

            </div>